<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/documents"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding" class="images-container">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let image of images">
          <img [src]="image">
        </ion-slide>
      </ion-slides>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content> 
