<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="raffle-container">
      <div class="raffle">
        <img src="../../../assets/images/tickets.png" alt="">
        <p class="raffle-text">Enter in the raffle of a mattress</p>
        <ion-button *ngIf="!hasEnded()" (click)="participate()">Join our raffle</ion-button>
        <p class="ion-text-center" *ngIf="hasEnded()"><ion-text color="danger" weight="bold">*Sorry, the raffle has ended.</ion-text></p>
        <ion-button *ngIf="admin && hasEnded()"color="danger" (click)="participate()">Raffle now</ion-button>
      </div>
    </div>
  </ion-content>