<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-page" id="main-content" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hola</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item class="textBottom">
      <ion-input class="inputText" placeholder="Enter text" [(ngModel)]="name" (keyup.enter)="getValue(user.displayName)"></ion-input>
    </ion-item>
    <div *ngIf="messages" class="ion-padding-bottom">
      <div *ngFor="let message of messages" class="ion-margin-top">
        <ion-list lines="full">
          <div class="message me">{{message}}</div>
        </ion-list>
      </div>
    </div>
  </ion-content>
</div>