<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-page" id="main-content" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hola</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" #content [scrollEvents]="true">
    <div *ngIf="messages" class="ion-padding-bottom">
      <div *ngFor="let group of groupedByDate | keyvalue" class="ion-margin-top">
        <h4 class="ion-text-center fecha">---- {{group.key}} ----</h4>
        <div *ngFor="let msg of group.value | keyvalue" class="ion-margin-top">
          <ion-list lines="full" [ngClass]="msg.value.id !== id ? 'left' : ''">
            <div class="completeMessage">
              <div class="message" [ngClass]="msg.value.id === id ? 'me' : 'you'">{{msg.value.message}}</div>
              <div class="msgAvatar">
                <ion-chip>
                  <ion-avatar>
                    <img alt="profile picture" [src]="msg.value.photo" />
                  </ion-avatar>           
                  <ion-label style="font-size: 10px;float:right;" [ngClass]="msg.value.id !== id ? 'align-left' : 'align-right'">{{msg.value.user}}<br>{{msg.value.time}}</ion-label>
                </ion-chip>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
    <ion-item class="textBottom">
      <ion-input class="inputText" placeholder="Enter text" [(ngModel)]="msgVal" (keyup.enter)="[getValue(), scrollToBottom()]"></ion-input>
    </ion-item>
  </ion-content>
</div>