ion-content {
    --background: url(/assets/images/chatBackground.jpg) no-repeat center center / cover;
}

ion-list {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.textBottom{
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    border-top: 0px solid black;
    width: 100%;
}

ion-avatar > img {
    position: absolute;
    bottom: 0;
    width: 25px !important;
    height: 25px !important;
    margin: 0;
}
ion-avatar {
    width: 25px !important;
    height: 25px !important;
    margin: 0;
    margin-right: 5px;
}

.timeLeft {
    position: absolute;
    left: 0;
}

.show{
    visibility: visible;
}

.dontShow {
    visibility: hidden;
}

.fecha {
    font-size: 16px;
    color: grey;
}

.msgUsername{
    font-size: 11px;
}

.msgAvatar {
    display: flex;
    flex-direction: row;
}

.message {
    border-radius: 5px;
    margin: 0.2em 0;
    padding: 0.5em;
    width: auto !important;
    border-radius: 16px;
    min-height: 100%vw;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.left{
    display: flex;
    justify-content: flex-start;
}

.msgTime {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
}

.me {
    background-color: #0084FF;
    color: white;
    float: right;
    width: 100%;
}
  
.you {
    float: left !important;
    background-color: white;
    color: black;
}

.inputText {
    background-color: rgb(211, 211, 211);
    margin: 0 auto;
    border-radius: 36px;
    padding: 5px 25px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ion-padding-bottom {
    padding-bottom: 90px;
}