.textBottom{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 0px solid black;
    width: 100%;
}

.message {
    border-radius: 5px;
    margin: 0.2em 0;
    padding: 0.5em;
    max-width: 50%;
    border-radius: 16px;
}

.me {
    align-self: flex-start;
    background-color: #0084FF;
    color: white;
}
  
.you {
    align-self: flex-end;
    background-color: green;
    color: white;
}

.inputText {
    background-color: rgb(211, 211, 211);
    margin: 0 auto;
    border-radius: 36px;
    padding: 5px 25px !important;
}