<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item class="ion-margin-top">
      <ion-label>Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <!-- Error messages -->
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Name is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Name should be min 2 chars long.
  </span>
    <ion-item class="ion-margin-top">
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Register</ion-button>
  </form> 
</ion-content>
