<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Delete events</ion-title>
    <ion-buttons slot="end">
      <ion-button >Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="events">
    <ion-list>
      <ion-list-header>
        <ion-label style="font-size: 18px;">Mark the events you want to delete</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let event of events; let i = index" class="ion-margin-top">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>{{event.title}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>