<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-page" id="main-content" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hola, {{user.displayName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="ion-padding">
      <ion-datetime locale="es-ES"></ion-datetime>
    </div>
    <ion-button expand="block" size="medium" (click)="[fichar(),presentAlert()]">
      Fichar
    </ion-button>
    <ion-button expand="block" size="medium" (click)="[mostrarFichadas(), setOpen(true)]">
      Ver fichadas
    </ion-button> 

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Fichadas</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content color="light">
          <div>
            <div *ngFor="let group of groupedByDate | reverse | keyvalue:sortNull let i = index" class="ion-margin-top">
              <h4 class="ion-text-center fecha">---- {{group.key}} ----</h4>
              <ion-list lines="full" [inset]="true">
                <ion-item *ngFor="let fic of group.value | keyvalue:sortNull let i = index">{{fic.value.date}} {{fic.value.hour}} - {{fic.value.estado}}</ion-item>
              </ion-list>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>