<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" novalidate>
    <ion-item lines="none" class="profilePicture">
      <ion-avatar slot="start">
        <img alt="profilePicture" [src]="domSanitizer.bypassSecurityTrustResourceUrl(profilePic)" />
      </ion-avatar>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label><b>Name:</b></ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <!-- Error messages -->
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Name is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Name should be min 2 chars long.
  </span>
  <ion-item class="ion-margin-top">
    <ion-label><b>Surname:</b></ion-label>
    <ion-input formControlName="surname" type="text" required></ion-input>
  </ion-item>
  <!-- Error messages -->
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
  Surname is required.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
  Surname should be min 2 chars long.
</span>
  <br>
<ion-label class="ion-padding">
  <b>Profile picture:</b>
</ion-label>
  <input class="ion-padding" width="100%" #fileInput type="file" (change)="onFileChange($event)" required/>
    <ion-button type="submit" expand="block" class="ion-margin-top">Update profile</ion-button>
  </form> 
    </ion-content>