<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add events</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Enter the title of the event</ion-label>
    <ion-input type="text" placeholder="Event title" [(ngModel)]="selectedTitle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Enter the date of the event</ion-label>
    <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="selectedDate" max="2030"></ion-datetime>
  </ion-item>
</ion-content>