<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="document-attach-outline"></ion-icon>
        <ion-button fill="clear" class="ion-margin-start" routerLink="/files">Documents</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="images-outline"></ion-icon>
        <ion-button fill="clear" class="ion-margin-start" routerLink="/images">Images</ion-button>
      </ion-item>
    </ion-list>
  </ion-content> 

