<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div>
      <div *ngFor="let fichada of fichadaArray" class="ion-margin-top">
        <ion-list lines="full">
          <ion-item>{{fichada.substring(24,fichada.length - 1)}}</ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</div>